{% extends "matchapp/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <h3>Welcome to Organ Match!</h3>
    <br>
    <p style="font-size: 20px;">Organ Match uses a national database of all
        patients in the U.S.
        waiting for a transplant. We provide a link between organ donors
        and recipients in the transplant process. We are dedicated to providing
        each
        transplant recipient with the best possible chance of long-term survival
        by matching donated organs with transplant candidates to save as many
        lives as
        possible.</p>
    <span><img style="margin-top: 20%;"  src="{% static 'matchapp/images/bonding-daylight-friends.jpg' %}" alt=""></span> 
</div>
{% endblock content %}