{% extends "matchapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h1>Profile</h1>
<hr>
<div class="row">
<img src="{% static 'matchapp/images/profile-default.png' %}" alt=""
style="width:25%">
<div class="col-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between
            align-items-center" style="border: none;">
            Username: 
            <span class="ml-2"> {{ user }} </span>
            
        </li>
            <li class="list-group-item d-flex justify-content-between
                align-items-center" style="border: none;">
                Email:
                <span>{{ user.email }}</span>
            </li>
        </ul>
 </div>
</div>
<br>
<br>
<div class="content-section">
    {% if form_exists %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Please provide us the following
                information to request or donate organs</legend>
                <!-- {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %} -->
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    {% else %}
    <hr>
    <div class="col-8">           
        <ul class="list-group pt-5">
            </li> <li class="list-group-item d-flex justify-content-between
            align-items-center">
            Account ID:
            <span class="">{{ profile_id }} </span>
        </li>
            <li class="list-group-item d-flex justify-content-between
                align-items-center">
                Full Name:
                <span>{{ first_name }} {{ last_name }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between
                align-items-center">
                Birthday:
                <span class="">{{ birth_date }} </span>
            </li>
            <li class="list-group-item d-flex justify-content-between
                align-items-center">
                Blood Type:
                <span class="">{{ blood_type }} </span>
            </li> <li class="list-group-item d-flex justify-content-between
                align-items-center">
                Your Doctor's Name:               
                <span class="">Dr. {{ doctor_id }} </span>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}